* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #ff4ecd, #7a00ff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://cdn.pixabay.com/photo/2023/07/11/18/04/ai-generated-8121083_1280.jpg");
    background-repeat: no-repeat;
    animation: moverFondo 5s ease infinite alternate;
}

.container {
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(2px);      
    padding: 2rem;
    border-radius: 15px;
    text-align: center;
    width: 320px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
    color: #ff1493;
    margin-bottom: 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #ff1493;
    box-shadow: 0 0 5px rgba(255,20,147,0.5);
}

button {
    background: #ff1493;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #c7007a;
}

#result {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

@keyframes moverFondo {
    from {
        background-position: right;
    }
    to {
        background-position: left;
    }
}